* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}




.wrapper {
    display: flex;
    height: 100vh;
    
    flex-wrap: wrap;
}

.header {
    border:1px red solid;
    width: 100vw;
    height: 15vh;
}

.sidebar {
    height: 84vh;
    background: green;
    width: 20vw;
}

.content {
    width: 80vw;
    background: purple;
}